.brokers__hero {

  &-container {
    
    @media(max-width: 1176px) {
      background-size: 38%;
    }
    @media(max-width: 585px) {
      background-size: 55%;
    }
  } 

}

.brokers__description {
  @media(max-width: 585px) {
    padding-bottom: 0;
  }
}

.brokers__about-title,
.brokers__conditions-title {
  text-align: center;
}

.brokers__about-title  {
  @media(max-width: 585px) {
    text-align: start;
  }
}

.google-button {
  margin-right: 24px;

  @media(max-width: 585px) {
    margin-right: 16px;
  }
}

.black-google-play rect,
.black-app-store rect {
  fill: var(--primary-text);
  transition: var(--animation-transition);
}

.black-google-play path,
.black-app-store path {
  fill: var(--white);
  transition: var(--animation-transition);
}

.black-google-play:hover rect,
.black-app-store:hover rect {
  fill: var(--white);
}

.black-google-play:hover path,
.black-app-store:hover path {
  fill: var(--primary-text);
} 

.small__banner-terms {
  @media(max-width: 585px) {
    grid-template-rows: 1fr 0.4fr;
  }
}
.education-btn {
  border: 1px solid var(--grey-button);
  background-color: inherit;
  transition: var(--animation-transition);
  padding: 18px 26px;
  color: var(--grey-button);
  margin-right: 24px;
  @media(max-width: 1176px) {
    font-size: 13px;
    line-height: 19px;
    margin-right: 16px;
    padding: 10px 8px;
  }

  @media(max-width: 585px) {
    padding: 13px 10px;
    margin: 0;
  }
}

.education-btn:hover,
.demo-btn:hover {
  background-color: var(--grey-button);
}

.demo-btn {
  background-color: var(--white);
  color: var(--primary-text);
  transition: var(--animation-transition);
  padding: 18px 26px;

  @media(max-width: 1176px) {
    font-size: 13px;
    line-height: 19px;
    padding: 10px 8px;
  }

  @media(max-width: 585px) {
    padding: 13px 10px;
  }
}

.brokers__info {

  @media(max-width: 585px) {
    display: none;
  }
}

