.currency__hero {
  background-color: var(--primary-grey);
  height: 480px;

  &-container {
    background-image: url('../img/currency-market/currency-hero.png');
    padding: 31px 50% 48px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &-title {
    margin-bottom: 24px;
    padding-right: 30%;
  }

  &-buttons {
    display: inline-block;
    margin-top: auto;

    &-grey {
      padding: 14px 32px;
      margin-right: 32px;
      border-radius: 5px;
    }
  }

  &-button {
    padding: 14px 32px;
  }

  &-list {
    margin-bottom: 68px;
  }
}

.currency__about {
  padding-top: 68px;
}

.currency__benefit {
  margin-bottom: 68px;

  &-title {
    text-align: center;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    row-gap: 28px;
    margin-bottom: 24px;
  }

  &-card {
    background: var(--primary-grey);
    border-radius: 10px;
    background-repeat: no-repeat;
  }

  &-footnes {
    font-size: 14px;
    line-height: 19px;
    color: var(--secondary-text);
  }
}

.profitable__course {
  grid-column: span 12;
  padding: 40px 50% 62px 46px;
  background-image: url('../img/currency-market/profitable-course.png');
  background-repeat: no-repeat;
  background-position: 88% 92%;
  // background-size: contain;
}

.profitable-btn {
  padding: 18px 26px;
  display: inline-block;
  margin-top: 40px;
}

.secure__broker,
.terminal__online,
.own__account,
.credit__shoulder {
  grid-column: span 6;
  background-position: 92% 77%;
}

.secure__broker {
  padding: 40px 38% 56px 46px;
  background-image: url('../img/currency-market/currency-broker.png');

}

.terminal__online {
  padding: 40px 40% 28px 46px;
  background-image: url('../img/currency-market/currency-terminal.png');
}

.own__account {
  padding: 40px 40% 28px 46px;
  background-image: url('../img/currency-market/currency-score.png');
}

.credit__shoulder {
  padding: 40px 41% 56px 46px;
  background-image: url('../img/currency-market/currency-credit.png');
}

.currency__rates {
  padding-top: 68px;
  padding-bottom: 136px;

  &-title {
    text-align: center;
  }

  &-info {
    margin-top: 40px;

    &-title {
      margin-bottom: 28px;
    }

    &-description {
      margin-bottom: 28px;
    }
  }
}
.currency__info {
  background: linear-gradient(180deg, #F4F6F8 0%, rgba(244, 246, 248, 0) 100%);
  position: relative;
  padding-bottom: 112px;
  &-buttons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    margin-bottom: 68px;
  }
  &-consult {
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn {
    grid-column: span 4;
  }
}
.currency__info-footnotes {
  margin-top: 68px;
}
