.currency__hero {

  &-container {

    @media(max-width: 1176px) {
      background-size: 41%;
      padding: 48px 3% 32px 0;
    }

    @media(max-width: 585px) {
      padding: 24px 3% 115px 0;
      background-size: 64%;
    }
  } 

}

.currency__benefit {

  &-title {
    text-align: center; 
  }

  &-container {
    margin-bottom: var(--mb-24);
  }

  &-card {
  
    grid-column: span 6;
    @media(max-width: 1176px)  {
      grid-column: span 12;
    }
  }
}

.profitable__course {
  grid-column: span 12;

}

.currency-rates__table-nav {
  margin-bottom: var(--mb-40);

  @media(max-width: 1176px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }

  @media(max-width: 585px) {
    row-gap: 12px;
  }
}

.transactions-tab-table {
  margin-bottom: var(--mb-40) !important;
}

.rates__nav-item:not(:last-child) {
  @media(max-width: 1176px) {
    margin: 0;
  }
}

.rates__item-deal {
  @media(max-width: 1176px) {
    grid-column: 1 / span 8;
  }
  @media(max-width: 585px) {
    grid-row: 1/ span 1;
  }
}

.rate-title {
  @media(max-width: 585px) {
    margin-bottom: 12px;
  }
}

.td-aligh-end-on375 {
  @media(max-width: 585px) {
    text-align: end;
  }
}

.rates__item-service {
  @media(max-width: 1176px) {
    grid-row: 2/ span 1;
    grid-column: 1 / span 7;
  }
  
}

.rates__item-award {
  @media(max-width: 1176px) {
    grid-row: 1/ span 1;
    grid-column: 9 / span 4;
  }
  @media(max-width: 585px) {
    grid-row: 3/ span 1;
    
  }
}

.rates__nav-item {
  @media(max-width: 585px) {
    grid-column: 1 / span 12;
  }
}
