.depositary__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);
    padding: 56px 52% 27.4% 0;

    @media(max-width: 1176px) {
      padding: 48px 32% 27.2% 0;
      background-size: 42%;
    }

    @media(max-width: 585px) {
      padding: 24px 24% 70% 0;
      background-size: 86%;
    }
  }

}

.depositiry__about {
  @media(max-width: 1176px) {
    padding-bottom: 0;
  }

  &-title {
    margin: 0 auto;
    margin-bottom: var(--mb-40);
    text-align: center;
    max-width: 568px;

  }
}
