.depositary__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);
    padding: 46px 52% 27.4% 0;

    @media(max-width: 1176px) {
      padding: 32px 32% 27.2% 0;
      background-size: 42%;
    }

    @media(max-width: 585px) {
      padding: 24px 24% 70% 0;
      background-size: 86%;
    }
  }

}

.depositiry__about {

  &-title {
    margin: 0 auto;
    margin-bottom: var(--mb-40);
    text-align: center;
    max-width: 568px;

    @media(max-width: 1176px) {
      text-align: start;
    }

    @media(max-width: 585px) {
      text-align: start;
    }
  }
}

.depositiry__payments {
  &-card {
    @media(max-width: 585px) {
      grid-template-rows: 1fr 156px;
    }
    &-left {
      @media(max-width: 1176px) {
        grid-column: 1/span 5;
        
      }
      @media(max-width: 585px) {
        grid-column: 2/ span 11;
        grid-row: 2/span 1;
      }
    }

    &-right {
      @media(max-width: 1176px) {
        grid-column: 6/span 7;
      }
      @media(max-width: 585px) {
        grid-column: 1/ span 12;
        grid-row: 1/span 1;
      }
    }
  }
}

.depositiry__access {
  &-card {
    @media(max-width: 585px) {
      grid-template-rows: 1fr 134px;
    }
    &-left {
      @media(max-width: 1176px) {
        grid-column: 1/span 7;

      }
      @media(max-width: 585px) {
        grid-column: 1/ span 12;
        grid-row: 1/span 1;
      }
    }

    &-right {
      @media(max-width: 1176px) {
        grid-column: 8/span 5;
      }
      @media(max-width: 585px) {
        grid-column: 2/ span 11;
        grid-row: 2/span 1;
      }
    }
  }

  &-btn {
    padding: 18px 26px;
    margin-top: 62px;

    @media(max-width: 1176px) {
      margin-top: 24px;
    }
  }
}

.depositiry__transactions-item:not(:last-child) {
  margin-bottom: 49px;
}

