.individual__hero {
  
  &-container {
    background-image: var(--desktop-image-banner-top);
   
    @media(max-width: 585px) {
      padding: 24px 2% 193px 0;
      background-size: 78%;
    }

    & ul{
      padding-right: 120px;
  
      @media(max-width: 585px) {
        padding-right: 0;
      }
    }

  }

}

.individual__about-list-item {
  position: relative;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.individual__about-list-item:not(:last-child) {
  margin-bottom: 16px;

  @media(max-width: 1176px) {
    margin-bottom: 0;
  }
}

.individual__about-list-item {
  grid-column: span 6;
  position: relative;

  @media(max-width: 1176px) {
    grid-column: span 12;
  }

}

.individual__about-list-item::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--primary-green);
  top: 10px;
  left: -20px;
}

.individual__about {
  
  &-card {
    margin-bottom: 40px;
    @media(max-width: 585px) {
      row-gap: 24px;
      grid-template-rows: 1fr 126px;
    }
  }

  &-list {
    column-gap: 84px;
    margin: 0;
    
    @media(max-width: 1176px) {
      row-gap: 12px;
      column-gap: 0;
    }
  }

}


.type-a-card {
  margin-bottom: var(--mb-40);

  @media(max-width: 585px) {
    row-gap: 24px;
    grid-template-rows: 1fr 133px;
  }

  &-right {
    padding: 40px 47px 62px 20px;
    @media(max-width: 585px) {
      padding: 24px 12px 0 12px;
    }
  }

  &-img {
    @media(max-width: 585px) {
      grid-column: 2/span 10;
    }
  }
}

.type-b-card {
  margin-bottom: var(--mb-24);

  @media(max-width: 585px) {
    row-gap: 24px;
    grid-template-rows: 1fr 133px;
  }
}

.individual__list-item {
  position: relative;
}

.individual__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.individual__list-item::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--primary-green);
  top: 10px;
  left: -20px;
}

.tab-content {
  padding: 0;
}

.individual__options {
  &-title {
    text-align: center;
    max-width: 578px;
    margin: 0 auto;
    margin-bottom: var(--mb-40);
  }

  &-list {
    margin: 0;
    @media(max-width: 1176px) {
      padding-right: 20px;
    }
  }

  &-question {
    color: var(--secondary-text);
    margin-bottom: var(--mb-24);
  }

  &-description {
    padding-right: 86px;
   
    @media(max-width: 585px) {
      padding: 0;
    }
  }
}

.individual__advantages {
  &-title {
    margin-bottom: var(--mb-40);
    text-align: center;
  }
}

.accounts__examples {
  &-services {
    margin-bottom: var(--mb-24);
  }

  &-title {
    text-align: center;
    margin-bottom: var(--mb-40);
  }

  &-header {
    @media(max-width: 585px) {
      display: none;
    }
  }

  &-body {
    margin-bottom: var(--mb-24);
  }

  &-card {
    border: 1px solid var(--grey-button);
    border-radius: 10px;

    .examples-card__header {
      padding: 48px 28px 25px 46px;
      align-items: start;

      @media(max-width: 1176px) {
        padding: 24px 26px 30px 12px;
        grid-template-rows: 1fr 49px;
        row-gap: 1px;
      }

      @media(max-width: 585px) {
        row-gap: 24px;
        padding: 24px 8px 24px 12px;
      }
    }

    .examples-card__account {
      display: flex;
      flex-direction: column;
      grid-column: span 5;

      @media(max-width: 585px) {
        grid-column: span 12;
      }

      .card__account-title {
        margin-bottom: var(--mb-24);
      }

      .card__account-description {
        color: var(--secondary-text);

        @media(max-width: 1176px) {
          padding-right: 20px;
        }
      }
    }

    .examples-card__deposite {
      grid-column: span 2;

      @media(max-width: 1176px) {
        grid-column: span 3;
      }

      @media(max-width: 585px) {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column: span 11;
      }
    }

    .examples-card-span {
      display: none;

      @media(max-width: 585px) {
        color: var(--secondary-text);
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin-right: 16px;
        width: 76px;
        grid-column: 1/span 2;
        grid-row: 1/span 2;
      }
    }

    .examples-card__get {
      grid-column: span 3;

      @media(max-width: 1176px) {
        grid-column: span 4;
      }

      @media(max-width: 585px) {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        row-gap: 4px;
      }
    }

    .card__get-description,
    .card__deposite-description {
      @media(max-width: 585px) {
        grid-column: 3/ span 6;
      }
    }

    .examples-card__btn {
      grid-column: span 2;

      @media(max-width: 1176px) {
        grid-row: 2/span 1;
        grid-column: 9/ span 4;
      }

      @media(max-width: 585px) {
        grid-row: 4/span 1;
        grid-column: 3/span 7;
      }

    }

    .examples-card__action {
      grid-column: span 12;
      padding: 24px 20% 47px 45px;
    }

    .card__action-decription {
      @media(max-width: 585px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    .card__action-services {
      background-color: #EDF2F5;

      @media(max-width: 1176px) {
        padding: 24px 68px 24px 12px;
      }

      @media(max-width: 585px) {
        padding: 16px 2px 16px 12px;
      }
    }

    .card__action-management {
      background-color: #ECF3EC;

      @media(max-width: 1176px) {
        padding: 24px 16px 24px 12px;
      }

      @media(max-width: 585px) {
        padding: 16px 2px 16px 12px;
      }
    }
  }
}

.examples-header__list {
  padding: 23px 42px 23px 46px;

  @media(max-width: 1176px) {
    padding: 8px 12px 8px 12px;
  }
}

.examples-header__item {
  color: var(--secondary-text);

  @media(max-width: 1176px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.examples-btn {
  padding: 14px 32px;

  @media(max-width: 1176px) {
    display: block;
    text-align: center;
  }
}

.examples-header__list {
  column-gap: 49px;

  @media(max-width: 1176px) {
    column-gap: 5px;
  }

  .first-el {
    grid-column: span 5;

    @media(max-width: 1176px) {
      grid-column: span 5;
    }
  }

  .second-el {
    grid-column: span 2;

    @media(max-width: 1176px) {
      grid-column: span 3;
    }
  }

  .third-el {
    grid-column: span 2;
  }
}

.examples-footer__description {
  color: var(--secondary-text);

  @media(max-width: 1176px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.individual-accordion {
  --bs-accordion-bg: inherit;
  margin-bottom: var(--mb-40);
}

.calculator__table-nav {
  margin-left: 30%;
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-40);
  @media(max-width: 1176px) {
    margin-left: 16%;
  }

  @media(max-width: 585px) {
    justify-content: space-between;
    margin-left: 0;
  }
}

.calculator__nav-item {
  @media(max-width: 585px) {
    width: 45%;
  }
}

.calculator__nav-link {
  @media(max-width: 1176px) {
    width: 100%;
    padding: 16px 20px;
  }
}

.calc-comment {
  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 22px;
    margin-right: 48px;
  }
}

.individual__calculator-content {
  @media(max-width: 1176px) {
    padding: 0 !important;
  }
}

.calc__brokers-left-card {
  width: 605px;

  @media(max-width: 1176px) {
    width: 100%;
  }
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-target {
  border: none;
}

.noUi-horizontal {
  height: 2px;
  max-width: 591px;

  @media(max-width: 1176px) {
    max-width: 100%;
  }
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-green);
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: none;
  top: -8px;
}

.noUi-connect {
  background-color: var(--primary-green);
  color: var(--primary-green);
}

.calc__brokers-service {
  column-gap: 31px;

  @media(max-width: 1176px) {
    row-gap: 32px;
  }
}

.calc__brokers-left-card {
  display: flex;
  flex-direction: column;
  grid-column: 1/ span 6;

  @media(max-width: 1176px) {
    grid-column: 1/ span 12;
  }
}

.total__sum,
.total__years {
  display: flex;
  flex-direction: column;
}

.total__sum {
  margin-bottom: var(--mb-40);
}

.slider-value {
  font-family: gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
  margin-top: 8px;
}

.total__sum-span,
.total__years-span {
  font-size: 14px;
  line-height: 19px;
}

.total__years-header,
.total__sum-header {
  display: flex;
  flex-direction: column;

  @media(max-width: 1176px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.total__sum-scale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.total__sum-scale span {
  display: block;

  @media(max-width: 585px) {
    font-size: 12px;
  }
}

.total__sum-scale span:not(:last-child) {
  text-align: center;
}

.whitespace-scale {
  position: relative;
}

.value-margin {
  margin: 0 18px;
}

.total__years-scale {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.total__years-scale span {
  display: block;
  width: 40px;
}

.total__years-scale span:nth-child(2) {
  margin-right: 15px;
}

.whitespace-scale::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 2px;
  background-color: var(--white);
  top: -18px;
  left: 25px;
  z-index: 25;
}

.whitespace-scale-years {
  position: relative;
}

.whitespace-scale-years::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 2px;
  background-color: var(--white);
  top: -18px;
  left: 15px;
  z-index: 25;
}

.calc-description {
  margin-top: 24px;
  padding-right: 90px;

  @media(max-width: 585px) {
    padding-right: 0;
  }
}

.calc__brokers {
  &-header {
    background-color: var(--primary-grey);
    padding: 28px 45px;
    display: flex;
    flex-direction: column;

    @media(max-width: 585px) {
      padding: 24px 12px 16px 12px;
    }
  }

  &-right-card {
    grid-column: 7/ span 6;
    border: 1px solid var(--grey-button);
    border-radius: 10px;

    @media(max-width: 1176px) {
      grid-column: 1/ span 12;
    }
  }
}

.calc__brokers-header-title {
  margin-bottom: 12px;
}

.saving__sum {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.increment__asset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vnecenie-sredstv,
.chisty-dohod,
.nalogovy-vichet {
  margin-bottom: 16px;
}

.saving__sum {
  margin-bottom: 16px;

  &-value {
    font-family: gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    @media(max-width: 585px) {
      width: 35%;
    }
  }
}

.calc-value {
  outline: none;
  text-align: end;
  background-color: inherit;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  @media(max-width: 585px) {
    font-size: 16px;
    line-height: 22px;
    text-align: start;
    width: 40%;
  }
}

.calc__brokers-body {
  display: flex;
  flex-direction: column;
  padding: 28px 45px 40px 45px;

  @media(max-width: 585px) {
    padding: 24px 12px 16px 12px;
  }
}

.calc-btn {
  display: inline-block;
  margin: 0 auto;
  margin-top: 28px;
}

.calc-button {
  display: inline-block;
  padding: 14px 32px;

  @media(max-width: 585px) {
    padding: 14px 72px;
  }
}

.ndfl {
  margin: 0;
}
