.investor__hero {
  background-color: var(--primary-grey);

  &-container {
    background-image: var(--desktop-image-banner-top);
    padding: 24px 52% 117px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    @media(max-width: 1176px) {
      padding: 24px 33% 38px 0;
      background-size: 38%;
    }

    @media(max-width: 585px) {
      padding: 8px 3% 141px 0;
      background-size: 58%;
    }
  }

  &-title {
    margin-bottom: 24px;
  }

}

.investor__requirements {
  padding-top: 66px;
  padding-bottom: 148px;
  @media(max-width: 1176px) {
    padding-top: 56px;
  }
  @media(max-width: 585px) {
    padding-top: 48px;
  }
  &-title {
    text-align: center;
    max-width: 578px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.investor-list {

  padding-left: 20px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 300px;
  // max-width: 500px;
  flex-wrap: wrap;

}

.brokers__list-item {
  // margin-right: ;
  flex: 0 0 50%;
  max-width: 580px;
}

.brokers__list-item:nth-child(odd) {
  padding-right: 26px;
}

.investor__tab-title {
  max-width: 692px;
  margin-bottom: 40px;
}

.investor__status {
  padding-bottom: 148px;

  &-title {
    
    text-align: center;
    max-width: 578px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-description {
    font-size: 14px;
    line-height: 19px;
    color: var(--secondary-text);
    margin-bottom: 40px;
  }
}

.steps__container {
  position: relative;
  padding-bottom: 15px;
  // align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
 
  &__header {
    width: 86px;
    height: 86px;
    background-color: var(--primary-grey);
    border-radius: 10px;
    margin: 0 auto;
    padding: 29px 0;
    position: relative;

    &-title {
      text-align: center;

    }
  }

  &__body {
    margin-top: 24px;

    &-text {
      text-align: center;
      display: block;

    }
  }

  &-line {
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: var(--grey-button);
    top: 50%;
    right: -197px;
  }
}

.investor__authorize-btn {
  position: absolute;
  bottom: 0;
  left: 60px;
  padding: 18px 26px;
}

.status__statement {

  &-card {
   

    &-left {
     
    }

    &-right {
      padding: 40px 20px 40px 20px;
    }
  }
  &-list {
    margin: 0;
    margin-top: 24px;

  }

  &-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.card-right-footnote {
  color: var(--secondary-text);
}

.investor__status-statement {
  margin-bottom: 76px;
}
