.metals__hero {

  &-container {
    padding: 56px 52% 275px 0;

    @media(max-width: 1176px) {
      padding: 48px 39% 199px 0;
      background-size: 50%;
    }

    @media(max-width: 585px) {
      padding: 24px 39% 246px 0;
      background-size: 92%;
    }
  }

}

.metals__about {

  &-first-article {
    grid-column: 1/span 6;

    @media(max-width: 1176px) {
      grid-column: span 12;
    }
  }

  &-second-article {
    grid-column: 7/span 6;

    @media(max-width: 1176px) {
      grid-column: span 12;
    }
  }
}

.metals__commission-title {
  margin-bottom: var(--mb-24);
}

.metals__trade-card {

  a {
    padding: 18px 26px;

    @media(max-width: 585px) {
      display: none !important;
    }
  }
}
