.services {
  padding-bottom: 136px;

  @media(max-width: 1176px) {
    margin-bottom: 56px;
    padding: 0;
  }

  @media(max-width: 585px) {
    margin: 0;
  }
}

.services-pagination {
  margin-bottom: 54px;
}

.service-svg-arrow {
  width: 45px;
  height: 20px;
}

.services-btn {
  padding: 14px 32px;
  margin-top: auto;
}

.services-card {
  display:flex;
  flex-direction: column;
  grid-column: span 4;
  position: relative;
  // height: 446px;
  // width: 100%;
  // max-width: 392px;
  padding: 40px 40px 0 40px;
  background-color: var(--primary-grey);
  border-radius: 10px;
  transition: var(--animation-transition);
  cursor: pointer;
  overflow: hidden;

  @media(max-width: 1176px) {
    // display: none;
    grid-column: span 6;
    flex-direction: row;
    padding: 12px 12px 0 12px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);;
  }
  @media(max-width: 585px) {
    grid-column: span 12;
  }
  &-header  {
    @media(max-width: 1176px) {
      grid-column: 1/ span 3;
    }
  }
  &-body {
    padding: 0 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    @media(max-width: 1176px) {
      grid-column: 4/ span 3;
      padding: 0;
      height: 161px;
      flex-direction: row;
    }
  }
  
  &-title {
    @media(max-width: 1176px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  
  &-text {
    color: var(--secondary-text);
    margin-bottom: var(--mb-24);
    @media(max-width: 1176px) {
      display: none;
    }
  }
}

.card-header:first-child {
  border-radius: 10px;
}

.popular-services {
  padding-top: 68px;

  @media(max-width: 1176px) {
    padding-top: 56px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    display: none;

    @media(max-width: 1176px) {
      display: block;
    }

    @media(max-width: 585px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__title {
    margin-bottom: 0;

  }
}


.services-card-btn {
  position: absolute;
  bottom: 30px;
  left: 10%;
  opacity: 0;
  background-color: var(--white);
  transition: all 0.3s ease-out 0.3s;
  padding: 18px 104px;
  @media(max-width: 1176px) {
    opacity: 1;
    padding: 8px 22px;
    left: 3%;
  }
}

.services-card-img {
  
  bottom: 0;
  width: 96%;
  left: 10%;
  transition: all 0.4s ease-out 0.3s;
  @media(max-width: 1176px) {
    width: 100%;
    align-self: flex-end;
  }
}

.services-card:hover .services-card-img {
  transform: scale(1.24);
  left: 10%;
  bottom: -24px;
}

.services-card:hover .services-card-btn {
  opacity: 1;
}






.hide-385 {
  @media(max-width: 585px) {
    display: none;
  }
}
