.services {
  padding-top: 30px;
  padding-bottom: 136px;
}
.services-pagination {
  margin-bottom: 54px;
}
.services__title {
  margin-bottom: 68px;
}
.service-svg-arrow {
  width: 45px;
  height: 20px;
}
// .services-btn {
//   margin: 0;
// }