.repo__hero {

  &-container {
    padding: 56px 52% 209px 0;

    @media(max-width: 1176px) {
      padding: 48px 24% 119px 0;
    }

    @media(max-width: 585px) {
      padding: 24px 1% 119px 0;
    }
  }
}

.repayment__service-card .small__banner-description {
  margin-bottom: var(--mb-24);
}

.nfk__direction-title {
  margin: 0;
  text-align: center;
  grid-column: 4/span 6;
}

.nfk__direction {
  row-gap: 40px;

  &-title {
    margin: 0;
    text-align: center;
    grid-column: 4/span 6;

    @media(max-width: 1176px) {
      grid-column: 1/span 12;
    }
  }

  &-card {
    grid-column: span 6;
    grid-template-rows: 1fr;

    @media(max-width: 585px) {
      grid-column: span 12;

    }

    .small__banner-left-text {
      padding: 40px 46px 40px 46px;
      grid-column: span 12;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media(max-width: 1176px) {
        padding: 40px 24px 40px 24px;
      }
      @media(max-width: 585px) {
        padding: 24px 29% 24px 16px;
      }
    }

  }
}
