.trust__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);

    @media(max-width: 585px) {
      background-size: 69%;
    }
  }
}
 
.trust__strategy {
  
  &-cards-container {
    display: flex;
    flex-direction: column;
  }

  &-card {
    border: 1px solid var(--grey-button);
    border-radius: 10px;
    @media(max-width: 1176px) {
      row-gap: 0;
    }
  }

  &-card:not(:last-child) {
    margin-bottom: var(--mb-24);
  }
}

.strategy-card__left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primary-grey);
  grid-column: 1/span 4;
  grid-row: 1/span 3;

  @media(max-width: 1176px) {
    grid-column: 7/span 6;
    grid-row: 2/span 2;
  }

  @media(max-width: 585px) {
    grid-row: 2/span 1;
  }

}

.strategy-card__header {
  grid-column: 5/span 8;
  grid-row: 1/span 1;
  padding: 40px 12px 20px 0;

  @media(max-width: 1176px) {
    padding: 24px 12px 23px 24px;
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    border-bottom: 1px solid var(--grey-button);
  }

  @media(max-width: 585px) {
    padding: 24px 12px 12px 12px;
  }
}

.strategy-card__right {
  grid-column: 5/span 8;

  @media(max-width: 1176px) {
    grid-row: 2/span 1;
    grid-column: 1/span 6;
    padding: 21px 0 0 24px;
  }

  @media(max-width: 585px) {
    padding: 12px 0 0 12px;
  }
}

.strategy-card__footer {
  grid-column: 5/span 8;
  padding-bottom: 40px;

  @media(max-width: 1176px) {
    grid-column: 1/span 6;
    grid-row: 3/ span 1;
    padding: 0 0 29px 24px;
  }

  @media(max-width: 585px) {
    grid-column: 1/span 12;
    grid-row: 3/ span 1;
    padding: 30px 0 24px 0;
    text-align: center;
  }
}

.card__right {
  &-title {
    margin-bottom: 16px;
  }

  &-description {
    padding-right: 30px;

    @media(max-width: 585px) {
      padding: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-conditions {
    border-top: 1px solid var(--grey-button);
    display: flex;
    padding-top: 16px;
    padding-bottom: 1px;
    margin-bottom: 24px;
    justify-content: space-between;

    @media(max-width: 1176px) {
      flex-direction: column;
      border: none;
      padding: 0;
      margin-bottom: 32px;
    }

    @media(max-width: 585px) {
      margin-bottom: 0;
    }
  }

  &-button {
    text-align: center;
    padding: 14px 32px;
    display: inline-block;

    @media(max-width: 1176px) {
      padding: 14px 30px;
    }

    @media(max-width: 585px) {
      padding: 8px 49px;
      margin: 0 auto;
    }
  }

}

.conditions-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 247px;
  @media(max-width: 1176px) {
    max-width: 100%;
  }
  &-title {
    font-family: gilroy;
    position: relative;
    margin: 0;
  }
  &-description {

    @media(max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

}

.conditions-element:not(:last-child) {

  @media(max-width: 1176px) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  @media(max-width: 585px) {
    margin-bottom: 12px;
  }
}
