.trust__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);
  }

  &-button {
    display: inline-block;
    margin-top: auto;
    border-radius: 5px;
    text-align: center;
    padding: 12px 22px;

    @media(max-width: 585px) {
      padding: 14px 32px;
    }
  }
}

.small__banner-strategy {
  @media(max-width: 585px) {
    row-gap: 24px;
    grid-template-rows: 1fr 0.5fr;
  }
}

.trust__strategy {

  &-cards-container {
    display: flex;
    flex-direction: column;
  }

  &-card {
    border-radius: 10px;
    border: 1px solid var(--grey-button);
    border-radius: 10px;
  }

  &-card:not(:last-child) {
    margin-bottom: 24px;
  }
}

.strategy-card__left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primary-grey);
  grid-column: 1/span 4;
  grid-row: 1/span 3;

  @media(max-width: 1176px) {
    grid-column: 7/span 6;
    grid-row: 2/span 2;
  }

  @media(max-width: 585px) {
    grid-row: 2/span 1;
  }

}

.strategy-card__header {
  grid-column: 5/span 8;
  grid-row: 1/span 1;
  padding: 40px 12px 20px 0;

  @media(max-width: 1176px) {
    padding: 24px 12px 23px 24px;
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    border-bottom: 1px solid var(--grey-button);
  }

  @media(max-width: 585px) {
    padding: 24px 12px 12px 12px;
  }
}

.strategy-card__right {

  padding-right: 32px;
  grid-column: 5/span 8;

  @media(max-width: 1176px) {
    grid-row: 2/span 1;
    grid-column: 1/span 6;
    padding: 21px 0 0 24px;
  }

  @media(max-width: 585px) {
    padding: 12px 0 0 12px;
  }
}

.strategy-card__footer {
  grid-column: 5/span 8;
  padding-bottom: 40px;

  @media(max-width: 1176px) {
    grid-column: 1/span 6;
    grid-row: 3/ span 1;
    padding: 0 0 29px 24px;
  }

  @media(max-width: 585px) {
    grid-column: 1/span 12;
    grid-row: 3/ span 1;
    padding: 30px 0 24px 0;
    text-align: center;
  }
}

.card__right {
  &-title {
    margin-bottom: 16px;
  }

  &-description {
    padding-right: 30px;

    @media(max-width: 585px) {
      padding: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-conditions {
    border-top: 1px solid var(--grey-button);
    display: flex;
    padding-top: 16px;
    padding-bottom: 1px;
    margin-bottom: 24px;

    @media(max-width: 1176px) {
      flex-direction: column;
      border: none;
      padding: 0;
      margin-bottom: 32px;
    }

    @media(max-width: 585px) {
      margin-bottom: 0;
    }
  }

  &-button {
    text-align: center;
    padding: 14px 32px;
    display: inline-block;

    @media(max-width: 1176px) {
      padding: 14px 30px;
    }

    @media(max-width: 585px) {
      padding: 8px 49px;
      margin: 0 auto;
    }
  }

}

.conditions-bet {
  width: 139px;

  @media(max-width: 585px) {
    width: 124px;
  }

  &-title {
    font-family: gilroy;
    position: relative;
    margin: 0;
  }

  &-title span {
    color: var(--primary-text);
    position: absolute;
    top: -5px;
    font-size: 16px;
    font-weight: 600;
  }

  &-description {
    color: var(--secondary-text);

    @media(max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.conditions-horizont {
  width: 197px;

  @media(max-width: 585px) {
    width: 124px;
  }
}

.conditions-amount {
  width: 276px;

  @media(max-width: 585px) {
    width: 124px;
  }
}

.conditions-element {
  display: flex;
  flex-direction: column;

}

.conditions-element:not(:last-child) {
  margin-right: 48px;

  @media(max-width: 1176px) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  @media(max-width: 585px) {
    margin-bottom: 12px;
  }
}

.trust__about {
  position: relative;
  // @media(max-width: 585px) {
  //   padding-bottom: 48px !important;
  // }
  &-description {
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 19px;
    position: relative;
  }

  &-description:not(:last-child) {
    margin-bottom: 20px;
  }

}
