.universal__hero {
  background-color: var(--primary-grey);
  max-height: 480px;

  @media(max-width: 1176px) {
    max-height: 438px;
  }

  &-container {
    background-image: url('../img/universal-account/hero.png');
    padding: 24px 52% 43px 0;
    background-repeat: no-repeat;
    background-position: right bottom;

    @media(max-width: 1176px) {
      padding: 24px 8% 38px 0;
      background-size: 41%;
    }
  }

  &-title {
    margin-bottom: 24px;

    @media(max-width: 1176px) {
      margin-bottom: 42px;
    }
  }

  &-list {
    margin-bottom: 46px;

    @media(max-width: 1176px) {
      margin-bottom: 42px;
      padding-right: 36%;
    }

  }

  &-buttons {
    display: inline-block;
    margin-top: auto;

    &-grey {
      padding: 14px 32px;
      margin-right: 32px;
      border-radius: 5px;
    }
  }
}

.universal__about {

  &-img {
    position: absolute;
    bottom: 0;
    left: 8%;

    @media(max-width: 1176px) {
      left: 3%;
    }
  }
}

.universal__info {
  padding-top: 40px;
  padding-bottom: 203px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 68px;
  column-gap: 32px;

  @media(max-width: 1176px) {
    row-gap: 56px;
  }

  &-description {
    grid-column: 1/span 12;
    display: grid;
  }

  &-card {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/span 12;
    column-gap: 32px;


    background-color: var(--primary-grey);
    border-radius: 10px;

    &-left {
      grid-column: 1/span 6;
      position: relative;

    }

    &-right {
      grid-column: 7/span 6;
      padding: 40px 8px 40px 0;

      @media(max-width: 1176px) {
        padding: 27px 8px 32px 0;
      }
    }
  }

  &-description-first {
    grid-column: 1/span 6;
    margin-bottom: 32px;

    @media(max-width: 1176px) {
      grid-column: 1/span 12;
    }
  }

  &-description-second {
    grid-column: 7/span 6;

    @media(max-width: 1176px) {
      grid-column: 1/span 12;
    }
  }

  &-description-third {
    grid-column: 1/span 12;
    color: var(--secondary-text);

    @media(max-width: 1176px) {
      grid-column: 1/span 12;
    }
  }
}

.universal__card-right-title {
  @media(max-width: 1176px) {
    margin-bottom: 21px;
  }
}

.universal__conditions {

  grid-column: 1/span 12;

  &-card {
    display: grid;
    max-height: 280px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    background-color: var(--primary-grey);
    border-radius: 10px;

    @media(max-width: 1176px) {
      column-gap: 16px;
    }


  }

  &-card-description {
    @media(max-width: 1176px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-img {
    position: absolute;
    bottom: 0;
  }

  &-card-left {
    padding: 46px 10px 0 40px;
    grid-column: 1/span 6;

    @media(max-width: 1176px) {
      padding: 27px 25px 76px 12px;
    }
  }

  &-card-right {
    position: relative;
    grid-column: 7/span 6;
  }
}

.universal__possibility {
  grid-column: 1/span 12;
  height: 308px;

  &-list {
    margin: 0;
  }

  &-card {
    display: grid;
    height: 308px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    background-color: var(--primary-grey);
    border-radius: 10px;
  }

  &-card-left {
    padding: 32px 0 0 0;
    grid-column: 1/span 6;
  }

  &-card-right {
    padding: 40px 74px 40px 0;
    grid-column: 7/span 6;
  }
}

.possibility-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.universal__about {
  width: 100%;
  background: linear-gradient(180deg, #F4F6F8 0%, rgba(244, 246, 248, 0) 100%);
  position: relative;
  padding-bottom: 112px;

  @media(max-width: 1176px) {
    background: #ffffff;
  }

  &-description {
    position: relative;
    padding-left: 8px;
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 19px;

    &-link {
      color: var(--primary-green);
    }

  }

  &-description:not(:last-child) {
    margin-bottom: 20px;

  }

  &-block {
    margin-top: 68px;
  }

  // &-consult {
  //   padding-top: 22px;
  //   padding-bottom: 21px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
}

.important__description-link {
  color: var(--primary-blue);
}