.rates__hero {
  background-color: var(--primary-grey);
  height: 480px;

  &-container {
    background-image: url('../img/rates/rates-hero.png');
    padding: 24px 50% 59px 0;
    background-repeat: no-repeat;
    background-position: 636px bottom;
  }

  &-title {
    margin-bottom: 190px;
  }

  &-buttons {
    display: inline-block;
    margin-top: auto;

    &-grey {
      padding: 14px 32px;
      margin-right: 32px;
      border-radius: 5px;
    }
  }
}

.rates__table {
  position: relative;
  padding-top: 67px;
  padding-bottom: 112px;

  &-nav {
    justify-content: center;
    margin-bottom: 36px;
  }
}

.nav-pills .nav-link.active {
  background-color: var(--primary-text);
  color: #ffffff;
}

.nav-pills .nav-link {
  border-radius: 40px;
  background-color: var(--primary-grey);
  color: var(--primary-text);
  padding: 16px 24px;
}

.nav-item:not(:last-child) {
  margin-right: 18px;
}

.tab-content {
  padding-top: 17px;
}

.tr-title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-family: gilroy;
  color: var(--primary-text);
  padding: 40px 0 28px 0 !important;
}

.primary-text-color {
  color: var(--primary-text);
}

.primary-text {
  color: var(--primary-text);
  font-size: 14px;
  line-height: 19px;
}

.primary-text-market {
  color: var(--primary-text);
  font-size: 16px;
  line-height: 22px;
}

.secondary-text {
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 19px;
}

.weight-text {
  font-family: gilroy;
  color: var(--primary-text);
  font-weight: 700;
  line-height: 22px;
}

.secondary-text-color {
  color: var(--secondary-text);

}

.tr-none-padding {
  padding: 0 !important;
}

.tr-border {
  border-bottom: 1px solid var(--grey-button);
  border-top: 1px solid var(--grey-button);
}

tr,
td,
table,
th {
  border: none;
  margin: 0 !important;
}

td {
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  padding: 20px 16px 20px 0 !important;
}

th {
  font-family: gilroy;
  font-weight: 700;

}

.td-padding-20 {
  padding: 20px 0 20px 60px !important;
}


.rates__about-line {
  width: 100%;
  position: absolute;
  bottom: 96px;
  border-top: 1px solid var(--grey-button);
}

.svg-pdf-dims {
  width: 48px;
  height: 48px;
  color: var(--primary-green);
}

.memo__info {
  padding-top: 68px;
  padding-bottom: 112px;

  &-title {
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 40px;
  }

  &-conditions {
    margin-bottom: 20px;
  }

  &-description {
    margin-bottom: 68px;
  }

  &-footnotes {
    &-first {
      position: relative;
      color: var(--secondary-text);
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 20px;
      padding-left: 10px;
    }

    &-second {
      position: relative;
      color: var(--secondary-text);
      font-size: 14px;
      line-height: 19px;
      padding-left: 10px;
    }
  }
}

.sticky-top {
  top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(29, 37, 44, 0.16);
  width: 100%;
}

.stockmarket__info {

  &-text {
    position: relative;
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 19px;
    padding-left: 10px;
  }

  &-text:not(:last-child) {
    margin-bottom: 20px;
  }
 &-footnotes {
  margin-top: 68px;
 }
}
.stock-market-title {
  margin-bottom: 40px;
  text-align: center;
}
.rate-tite {
  margin: 0;
}
.investor-table {
  margin-bottom: 68px !important;
}
.messahe-table {
  margin-bottom: 89px !important;
}
.setting-table {
  margin-bottom: 68px !important;
}