.rates__hero {
  background-color: var(--primary-grey);
  height: 480px;

  &-container {
    background-image: url('../img/rates/rates-hero.png');
    padding: 24px 50% 43px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &-title {
    margin-bottom: 190px;
  }

  &-buttons {
    display: inline-block;
    margin-top: auto;

    &-grey {
      padding: 14px 32px;
      margin-right: 32px;
      border-radius: 5px;
    }
  }
}

.rates__table {
  padding-top: 67px;
   &-nav {
    justify-content: center;
    margin-bottom: 36px;
   }
}
.nav-pills .nav-link.active {
  background-color: var(--primary-text);
  color: #ffffff;
}
.nav-pills .nav-link  {
  border-radius: 40px;
  background-color: var(--primary-grey);
  color: var(--primary-text);
  padding: 16px 24px;
}
.nav-item:not(:last-child) {
  margin-right: 18px;
}
.tab-content  {
  padding-top: 36px;
}