.rates__hero {
  background-color: var(--primary-grey);

  &-container {
    background-image: var(--desktop-image-banner-top);
    padding: 46px 54% 59px 0;
    background-repeat: no-repeat;
    background-position: 94% bottom;

    @media(max-width: 1176px) {
      padding: 32px 33% 112px 0;
      background-size: 48%;
      background-position: right bottom;
    }

    @media(max-width: 585px) {
      padding: 24px 0 149px 0;
      
    }
  }

  &-title {
    margin-bottom: 31%;

    @media(max-width: 1176px) {
      margin-bottom: 42px;
    }

    @media(max-width: 585px) {
      font-size: 31px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

  &-button {
    padding: 14px 32px;
    margin-right: 32px;
    border-radius: 5px;
    margin: 0;
    display: inline-block;
    text-align: center;
    
  }

}



.table-hide {
  @media(max-width: 1176px) {
    display: none;
  }
}

.rates__table {
  position: relative;
  padding-top: 67px;
  padding-bottom: 112px;

  @media(max-width: 1176px) {
    padding-bottom: 0;
  }

  @media(max-width: 585px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &-nav {
    justify-content: center;
    margin-bottom: 36px;

    @media(max-width: 1176px) {
      margin-bottom: 32px;
      justify-content: space-between;
    }

    @media(max-width: 783px) {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 12px;
      row-gap: 12px;
      margin-bottom: 24px;
    }
  }
}

.rates__accordion {
  // display: none;

  // @media(max-width: 1176px) {
  //   display: block;
  // }

  &-header {
    margin-bottom: 12px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 42px;

    @media(max-width: 585px) {
      padding-bottom: 24px;
    }
  }

  &-row {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    margin-bottom: 24px;
    @media(max-width: 1176px) {
      display: grid;
    }
    @media(max-width: 783px) {
      column-gap: 12px;
      row-gap: 12px;
      margin-bottom: 16px;
    }

  }

  &-row-title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  &-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 12px 8px;
    border-radius: 10px;
    background-color: var(--primary-grey);
  }
}

#transactionsOnExchangesAccordion {
  margin-bottom: 56px;
}

.bi-plus-lg,
.bi-dash-lg {
  color: var(--secondary-text);
  font-size: 2rem;
}

.rates__accordion.collapsing {
  height: 0;
  overflow: hidden;
  @include transition(all 0.2s ease-in-out 0.2s);
}

.rates__column-left {
  grid-column: 1/ span 5;

  @media(max-width: 783px) {
    grid-column: 1/ span 6;
  }
}

.rates__column-title {
  color: var(--secondary-text);

  @media(max-width: 585px) {
    font-size: 12px;
    line-height: 16px;
  }

}

.rates__column-right {
  grid-column: 7/ span 6;
}

.nav-pills .nav-link.active {
  background-color: var(--primary-text);
  color: #ffffff;
}

.grid-span-12 {
  @media(max-width: 585px) {
    grid-column: span 12;
  }
}

.grid-span-12-mobile {
  grid-column: span 12;
}

.nav-link {
  @media(max-width: 783px) {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
  }
}

.text-right-385 {
  @media(max-width: 783px) {
    text-align: end;
  }
}

.rates__nav-item {
  @media(max-width: 783px) {
    margin: 0 !important;
    grid-column: span 4;
  }

}

.nav-pills .nav-link {
  border-radius: 40px;
  background-color: var(--primary-grey);
  color: var(--primary-text);
  padding: 16px 24px;

  @media(max-width: 1176px) {

    width: 100%;
  }

  @media(max-width: 585px) {
    padding: 12px 16px !important;
    font-size: 14px;
    line-height: 19px;
  }
}

.nav-item:not(:last-child) {
  margin-right: 18px;

  @media(max-width: 585px) {
    margin: 0;
  }
}

.tab-content {
  padding-top: 17px;

  @media(max-width: 585px) {
    padding: 0;
  }
}

.tr-title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-family: gilroy;
  color: var(--primary-text);
  padding: 40px 0 28px 0 !important;
}



.secondary-text-color {
  color: var(--secondary-text);

}

.tr-none-padding {
  padding: 0 !important;
}

.tr-border {
  border-bottom: 1px solid var(--grey-button);
  border-top: 1px solid var(--grey-button);

  @media(max-width: 1176px) {
    // border: none;
  }

}

tr,
td,
table,
th {
  border: none;
  margin: 0 !important;
}

td {
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  padding: 20px 16px 20px 0 !important;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

th {
  font-family: gilroy;
  font-weight: 700;

}

.td-padding-20 {
  padding: 20px 0 20px 60px !important;
}


.rates__about-line {
  width: 100%;
  position: absolute;
  bottom: 96px;
  border-top: 1px solid var(--grey-button);
}

.svg-pdf-dims {
  width: 48px;
  height: 48px;
  color: var(--primary-green);
}

.rates-conditions {
  margin-bottom: 16px;
}

.memo__info {
  padding-top: 68px;

  // padding-bottom: 112px;
  @media(max-width: 1176px) {
    padding-top: 42px;
    padding-bottom: 0;
  }

  @media(max-width: 585px) {
    padding-top: 24px;
  }

  &-title {
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 40px;

    @media(max-width: 1176px) {
      margin-bottom: 42px;
    }

    @media(max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
    }
  }

  &-text-link {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  &-conditions {
    margin-bottom: 20px;

    @media(max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 16px;
    }
  }

  &-description {
    
    @media(max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
      
    }
  }

  &-footnotes {

    margin-top: 68px;

    @media(max-width: 1176px) {
      display: none;
    }

    &-first {
      position: relative;
      color: var(--secondary-text);
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 20px;
      
    }
   
    &-second {
      position: relative;
      color: var(--secondary-text);
      font-size: 14px;
      line-height: 19px;
      

      @media(max-width: 1176px) {

        padding: 0;
      }

      @media(max-width: 585px) {
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
}

.rates__important-block {
  @media(max-width: 1176px) {
    margin-bottom: 42px;

  }

  @media(max-width: 585px) {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}



.show-on-mobile {
  @media(max-width: 1176px) {
    display: block;
  }
}

.sticky-top {
  top: 10px;
  background-color: #ffffff;
  width: 100%;
}
//=============Добавление плашки в таблице при скролле
.shadow-on-scroll-hide {
  display: none;
}
.shadow-on-scroll {
  display: block;
  box-shadow: 4px 14px 31px rgb(29 37 44 / 8%);
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.shadow-on-scroll-list {
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  padding: 28px 0;
  column-gap: 23px;
}

//====================================================
.stockmarket__info {

  &-text {
    position: relative;
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 19px;

  }

  &-text:not(:last-child) {
    margin-bottom: 20px;
  }

  &-footnotes {
    margin-top: 68px;

    @media(max-width: 1176px) {
      margin-top: 42px;
    }

    @media(max-width: 585px) {
      margin-top: 24px;
    }
  }
}

.stock-market-title {
  margin-bottom: 40px;
  text-align: center;
}

.rate-tite {
  margin: 0;
}

.investor-table {
  margin-bottom: 68px !important;
}

.messahe-table {
  margin-bottom: 89px !important;
}

.setting-table {
  margin-bottom: 68px !important;
}
