.exchange__rates-hero {
  padding: 56px 50% 130px 0;

  @media(max-width: 1176px) {
    padding: 48px 33% 130px 0;
  }

  @media(max-width: 585px) {
    padding: 0 3% 141px 0;
  }

} 
.section-courses {
  @media(max-width: 1176px) {
    padding-bottom: 0;
  }
}
.center-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 832px;
  margin: 0 auto;
  padding: 0 8px;

  @media(max-width: 1176px) {
    max-width: 100%;
    padding: 0;
  }
}

.choices-title {
  margin-bottom: var(--mb-24);
}

.currency-history {
  align-self: flex-end;
}

.currency__choices-container {
  margin-bottom: var(--mb-24);
}

.country-choices {
  outline: none;
  position: relative;
}

.is-focused .countries-wrapper,
.is-open .countries-wrapper {
  background-color: var(--primary-text);
  color: var(--white);
}

.country-choices[data-type*=select-one] .countries-wrapper {
  padding: 18px 26px;
}

.countries-wrapper {
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-grey);
}

.is-active.countries-list-dropdown,
.is-active.currency__list[aria-expanded] {
  visibility: visible;
}

.country-choices[data-type*=select-one]::after {
  content: '';
  position: absolute;
  background-image: url('../img/icons/icons.svg#arrow-bottom');
  background-size: 100%;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  border: none;
  right: 25.5px;
  top: 50%;
  transition: all 0.1s ease-in-out 0.1s;
}

.country-choices[data-type*=select-one].is-open::after {
  transform: rotate(-180deg);
  background-image: url('../img/icons/icons.svg#white-arrow-bottom');
  top: 40%;
}

.country-choices.is-focused::after {
  background-image: url('../img/icons/icons.svg#white-arrow-bottom');
  transform: rotate(0);

}

.currency__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.countries-list-dropdown .currency__list,
.currency__list[aria-expanded] .currency__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.countries-list-dropdown,
.currency__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: var(--white);
  border: 1px solid #ddd;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
  transition: all 0.1s ease-in-out 0.1s;
  border: none;
  height: 170px;
  top: 120%;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgb(29 37 44 / 16%)
}


.countries-list-dropdown .currency__item--selectable.is-highlighted,
.currency__list[aria-expanded] .currency__item--selectable.is-highlighted {
  background-color: var(--primary-grey);
}

.countries-list-dropdown .currency__item--selectable.is-highlighted,
.currency__list[aria-expanded] .currency__item--selectable.is-highlighted {
  background-color: var(--primary-grey);
}

.countries-list-dropdown .currency__item--selectable,
.currency__list[aria-expanded] .currency__item--selectable {
  padding-right: 100px;
}

.countries-list-dropdown .currency__item,
.currency__list[aria-expanded] .currency__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

.currency__item--selectable {
  cursor: pointer;
}

.currency__list span {
  color: var(--secondary-text);
}

//=============Модальное окно история курсов
.currency-history-header-modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-grey);
  align-items: center;
  padding-right: 5%;
  z-index: 6;
  margin-bottom: var(--mb-40);
  padding: 0 67px 0 14px;

  @media(max-width: 585px) {
    padding: 0 26px 0 10px;
    flex-direction: column;
  }
}

.currency-history-body-modal {
  max-height: 488px;
  overflow: auto;
  padding: 0 14px 0 14px;
}

.modal-background-header {
  position: absolute;
  width: 106%;
  height: 108px;
  background-color: var(--primary-grey);
  z-index: 5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -26px;
  left: -25px;
  display: block !important;

  @media(max-width: 1176px) {
    width: 103.5%;
    height: 84px;
    z-index: 5;
    top: -12px;
    left: -12px;
  }

  @media(max-width: 806px) {
    
    width: 104.9%;
  }
  @media(max-width: 584px) {
    width: 107.6%;
  }
}

.currency-history-modal-content {
  padding: 26px 10px 26px 0;
}



.currency-history-modal {
  flex-direction: column;
  max-height: 596px;
  padding: 0 0 0 26px !important;

  @media(max-width: 585px) {
    padding: 0 !important;
  }
}

.currency-history-modal-title {
  margin: 0;
}

//===========Стилизация календаря===============
.date-picker {
  position: relative;
  z-index: 1176;
}

.ui-datepicker {
  width: 100%;
  max-width: 286px;
  box-shadow: 0px 0px 16px rgba(29, 37, 44, 0.16);
  margin-top: 16px;

}

.ui-datepicker table {
  background-color: var(--white);
}

.ui-datepicker-trigger {
  width: 24px;
  height: 50%;
  position: absolute;
  right: 21px;
  top: 13px;
  cursor: pointer;

  @media(max-width: 585px) {
    right: 5px;
    top: 10px;
  }
}

.hasDatepicker {
  z-index: 77;
  width: 100%;
  max-width: 286px;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 18px 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-family: Segoe UI;

  @media(max-width: 1176px) {
    max-width: 200px;
  }

  @media(max-width: 585px) {
    padding: 8px;
    max-width: 223px;
   margin-top: 5px;
  }
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  text-align: center;
  background-color: inherit;
  border: 0;
  color: (--primary-text);
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 0;
  background: var(--primary-green);
  color: var(--white);
}

.ui-widget.ui-widget-content {
  border: 0;
  padding: 0;
  border-radius: 5px;
  @media(max-width: 585px)  {
    left: 42px !important;
  }
}

.ui-datepicker .ui-datepicker-header {
  padding: 18px 27px;
  background-color: var(--primary-grey);
  color: var(--primary-text);
  border: 0;
}

.ui-datepicker .ui-datepicker-title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--primary-text);
}

.ui-widget-header .ui-icon {
  background-image: none;
}

.ui-corner-all {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.ui-datepicker-next {
  background-image: url('../img/icons/icons.svg#arrow-right');

}

.ui-datepicker-prev {
  background-image: url('../img/icons/icons.svg#arrow-left');
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 15px;
  width: 1.8em;
  height: 1.8em;
}

//======================

.converter-container {
  padding: 56px 0;
  background-color: var(--primary-grey);
  border-radius: 10px;

  @media(max-width: 1176px) {
    padding: 24px 88px;
  }

  @media(max-width: 585px) {
    padding: 24px 12px;
  }

  &-title {
    padding: 0 70px;
    text-align: center;

    @media(max-width: 585px) {
      padding: 0;
    }
  }
}
