.converter__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);
    padding: 0 50% 245px 0;
    background-repeat: no-repeat;
    background-position: right bottom;

    @media(max-width: 1176px) {
      padding: 0 33% 38px 0;
      background-size: 38%;
    }

    @media(max-width: 585px) {
      padding: 0 3% 141px 0;
      background-size: 58%;
    }
  }

  &-title {
    margin-bottom: 24px;

    @media(max-width: 585px) {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 40px;
    }
  }

}

.converter__section {
  padding-top: 68px;
  padding-bottom: 112px;
}

.converter__banner {
  &-left {
    padding: 40px 3% 47px 46px;
    @media(max-width: 585px) {
      padding: 12px 3% 0 12px;
    }
  }

  &-description {
    margin-bottom: 40px;
    padding-right: 10%;
  }

  &-btn {
    padding: 18px 26px;
  }
}

//===========Select =======
.choices-container {
  max-width: 816px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: 585px) {
    flex-direction: column;
    align-items: center;
  }
}

.currency__value {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media(max-width: 1176px)  {
    margin-top: 32px;
  }
  @media(max-width: 585px) {
    margin: 0;
  }
}



.choices {
  width: 100%;
  max-width: 286px;
  margin: 0;
  @media(max-width: 1176px) {
    max-width: 237px;
  }
}

.choices[data-type*=select-one] .choices__inner {
  padding: 18px 26px;
}

.choices__inner {
  border: 0;
  border-radius: 40px;
  width: 100%;
  max-width: 286px;
  background-color: var(--white);
  // padding: 18px 26px;
  @media(max-width: 1176px) {
    max-width: 237px;
  }
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  transition: all 0.1s ease-in-out 0.1s;
  border: none;
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 30px;
  height: 170px;
  top: 120%;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(29, 37, 44, 0.16);
  
}



.choices[data-type*=select-one]::after {
  background-image: url('../img/icons/icons.svg#arrow-bottom');
  background-size: 100%;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  border: none;
  right: 25.5px;
  top: 50%;
  transition: all 0.1s ease-in-out 0.1s;
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(-180deg);
  // right: 25.5px;
  // top: 27%;
}
.choices-container__right,
.choices-container__left {
  @media(max-width: 585px)  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.currency__value-left {
  @media(max-width: 585px) {
    margin-top: 16px;
  }
}
.choices-container__right {
  @media(max-width: 585px)  {
    flex-direction: column-reverse;
   
  }
}
.currency__value-right {
  @media(max-width: 585px) {
    margin-bottom: 16px;
  }
}
.choices__list--single {
  padding: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--primary-grey);
}

.is-open .choices__inner {
  border-radius: 30px;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.sum-of-change {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  background-color: inherit;
  margin-bottom: 8px;
  @media(max-width: 585px) {
    font-size: 28px;

  }
}
.left-sum-change,
.left-sum-label {
  text-align: end;
  width: 100%;
  border: none;
  outline: none;
  @media(max-width: 585px) {
    text-align: center;
  }
}
.right-sum-change,
.right-sum-label {
  text-align: start;
  width: 100%;
  border: none;
  outline: none;
  @media(max-width: 585px) {
    text-align: center;
  }
}
.currency__change-btn {
  margin: 0 15%;
  width: 24px;
  height: 40px;
  background-color: inherit;
  @media(max-width: 1176px) {
    margin: 0 10%;
  }
  @media(max-width: 585px) {
    align-self: flex-end;
    transform: rotate(90deg);
    margin: 0 5%;
  }
}

.currency__change-btn:hover .svg-change-btn-dims{
  color: var(--secondary-text);
}
