.investment__ideas {
  padding-bottom: 112px;

  @media (max-width: 1176px) {
    padding-bottom: 56px;
  }

  @media (max-width: 585px) {
    padding-bottom: 48px;
  }
  & .nav__pagination {
    margin-top: 48px;
    & .page-link.active,
    & .page-link.active:hover {
      background: var(--bs-pagination-focus-bg);
      color: var(--bs-pagination-font-size);
    }
  }
  &-header {
    align-items: center;

    @media (max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &-header-title {
    grid-column: 1 / span 6;

    @media (max-width: 1176px) {
      grid-column: 1 / span 12;
      margin-bottom: 56px;
    }

    @media (max-width: 585px) {
      margin-bottom: 48px;
    }
  }

  &-filtres {
    grid-column: 7 / span 6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1176px) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 12;
      justify-content: flex-start;
    }

    @media (max-width: 585px) {
      flex-wrap: wrap;
    }
  }

  &-list {
    display: none;
    flex-direction: column;
  }
}

.investment__ideas-filtres-item:not(:last-child) {
  @media (max-width: 1176px) {
    margin-right: 16px;
  }

  @media (max-width: 585px) {
    margin: 0;
  }
}

.show {
  display: flex;
  // flex-direction: column;
}

.hide {
  display: none;
}

.ideas__card-list {
  padding: 26px 0;

  &-logo {
    grid-column: 1 / span 1;
  }

  &-header {
    grid-column: 2 / span 3;
  }

  &-stars {
    grid-column: 5 / span 2;
  }

  &-possbility {
    grid-column: 7 / span 2;
  }

  &-profitability {
    grid-column: 9 / span 1;
  }

  &-date {
    grid-column: 11 / span 2;
  }
}

.ideas__list {
  &-title {
    grid-column: 1 / span 1;
  }

  &-possbility {
    grid-column: 7 / span 2;
  }

  &-profitability {
    grid-column: 9 / span 2;
  }

  &-date {
    grid-column: 11 / span 2;
  }
}

.ideas__card {
  grid-column: span 4;

  @media (max-width: 1176px) {
    grid-column: span 6;
  }

  @media (max-width: 585px) {
    grid-column: span 12;
    width: 352px;
  }
}

.ideas__card-list:nth-child(odd) {
  border-top: 1px solid var(--grey-button);
  border-bottom: 1px solid var(--grey-button);
}

.dropdown {
  @media (max-width: 585px) {
    margin: 0;
  }
}

.dropdown:nth-child(1) {
  @media (max-width: 585px) {
    margin-right: 16px;
    margin-bottom: 12px;
  }
}

.dropdown:nth-child(2) {
  @media (max-width: 585px) {
    margin-bottom: 12px;
  }
}

.dropdown-filter {
  display: flex;
  align-items: center;
  padding: 14px 1.5rem;
  background-color: var(--primary-grey);

  @media (max-width: 585px) {
    padding: 14px 2.5rem;
  }
}

.svg-arrow-filter-dims {
  display: inline-block;
  margin-left: 14px;
  transform: rotate(-90deg);
  transition: all 0s ease 0.06s;
}

.dropdown-filter:not(.show) .svg-arrow-filter-dims {
  transform: rotate(90deg);
  color: var(--primary-text);
}

.dropdown-filter.show .svg-arrow-filter-dims {
  color: var(--white);
}
.dropdown-menu {
  box-shadow: 0px 0px 16px rgb(29 37 44 / 16%);
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 53px) !important;
  // inset: 10px auto auto 0 !important;
}
.dropdown-filter-menu {
  width: 248px;

  @media (max-width: 1176px) {
    width: 210px;
  }

  @media (max-width: 585px) {
    width: 200px;
  }
}

.dropdown-menu-country {
  @media (max-width: 585px) {
    width: 150px;
  }
}

.dropdown-filter.show {
  background-color: var(--primary-text);
  color: var(--white);
}

.dropdown-filter-menu.show {
  // display: flex;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 66px);
}

.filter-menu__item {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0.1s;

  @media (max-width: 585px) {
    padding: 10px 2px 10px 2px;
  }
}

.filter-menu__item label {
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;

  @media (max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.filter-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-color: inherit;
  border: 0;
  margin: 0;
}

.filter-menu__item:hover {
  background-color: var(--primary-grey);
  border-radius: 5px;
}

.filter-check:checked {
  background-color: inherit;
  border: 0;
  box-shadow: none;
}

.filter-check:focus {
  border: none;
  box-shadow: none;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filter-check + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 13px;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: 1176px) {
    margin-right: 5px;
  }
}

.filter-check:checked + label::before {
  background-image: url("../img/icons/icons.svg#Check");
}

.btn-sort {
  width: 49px;
  height: 49px;
  background-color: var(--primary-grey);

  @media (max-width: 585px) {
    display: none;
  }
}

.btn-sort.choisen {
  background-color: var(--primary-text);
}

.btn-sort.choisen > .svg-list-dims,
.btn-sort.choisen > .svg-medium-icons-dims {
  color: var(--white);
}

.btn-sort:hover .svg-medium-icons-dims,
.btn-sort:hover .svg-list-dims {
  color: var(--primary-text);
}

.svg-medium-icons-dims,
.svg-list-dims {
  color: var(--secondary-text);
  transition: all 0.1s ease-in-out 0.1s;
}




#tradingview_1158d {
  height: 652px;

  @media (max-width: 585px) {
    height: 541px;
  }
}
