.prognosis__hero {

  &-container {
    background-image: var(--desktop-image-banner-top);

    @media(max-width: 1176px) {
      padding: 48px 33% 38px 0;
      background-size: 38%;
    }

    @media(max-width: 585px) {
      padding: 24px 3% 141px 0;
      background-size: 68%;
    }
  }
}

.prognosis__about {
  margin-top: 68px;

  @media(max-width: 1176px) {
    margin-top: 56px;
  }
  @media(max-width: 585px) {
    margin-top: 48px;
  }
  &-title {
    text-align: center;
  }
}

.small__banner-prognosis{
  grid-column: span 6;
  background-position: 92% 77%;
  background-repeat: no-repeat;
  @media(max-width: 585px) {
    grid-column: span 12;
  }
}

.prognosis-card-left {
  grid-column: 1 /span 7;
  @media(max-width: 585px) {
    grid-column: 1 /span 12;
    padding-bottom: 0;
  }
}

.prognosis-card-right {
  grid-column: 8 /span 5;
}

.prognosis__conditions {
  &-title {
    text-align: center;
  }
  &-section {
    padding-bottom: 148px;
    @media(max-width: 1176px) {
      padding-bottom: 0;
    }
  }
}
