.prognosis__hero {

  &-container {

    @media(max-width: 585px) {
      background-size: 68%;
    }
  }
}

.prognosis__about {
  margin-top: 68px;

  @media(max-width: 1176px) {
    margin-top: 56px;
  }
  @media(max-width: 585px) {
    margin-top: 48px;
  }
  &-title {
    text-align: center;
  }
}

.small__banner-prognosis{
  grid-column: span 6;
  background-position: 92% 77%;
  background-repeat: no-repeat;
  @media(max-width: 585px) {
    grid-column: span 12;
  }
  .small__banner-left-text {
    grid-column: 1 /span 7;
  @media(max-width: 585px) {
    grid-column: 1 /span 12;
    padding-bottom: 0;
  }
  }
  .small__banner-right-img {
    grid-column: 8 /span 5;
  }
}

.prognosis__conditions {
  &-title {
    text-align: center;
  }
  &-section {
    padding-bottom: 148px;
    @media(max-width: 1176px) {
      padding-bottom: 0;
    }
  }
}
