.cheb-map {
  width: 100%;
  height: 400px;
}

.contacts {
  &__section {
    padding-top: 30px;
    padding-bottom: 112px;
    @media(max-width: 1176px) {
      padding-bottom: 0;
    }
  }
  
  &__company-subtitle {
    margin-bottom: var(--mb-24);
  }
 
  &__cheb-title,
  &__msk-title {
    margin-bottom: 16px;
  }

  &__img-wrapper {
    position: relative;
    margin-bottom: var(--mb-40);
    margin-top: 32px;
    @media(max-width: 585px) {
      margin-top: 24px;
      height: 424px;
    }
  }

  &__company-wrapper {
    display: flex;
    align-items: flex-start;
    @media(max-width: 1176px) {
      justify-content: space-between;
    }
    @media(max-width: 585px) {
      flex-direction: column;
    }
  }

  &__company-tel {
    margin-right: 138px;
    display: flex;
    flex-direction: column;
    @media(max-width: 1176px) {
      margin: 0;
    }
    @media(max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &__company-schedule {
    margin-right: 138px;
    @media(max-width: 1176px) {
      margin: 0;
    }
    @media(max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }
}
.company__requisites{
  display: flex;
  flex-direction: column;
}
.cheb-marker {
  color: #DD270F;
  position: absolute;
  left: 48%;
  top: 52%
}
.msk-marker {
  color: #DD270F;
  position: absolute;
  left: 53%;
  top: 37%
}
