.large__button-grey {
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 392px;
  grid-column: span 4;
  transition: var(--animation-transition);

  @media(max-width: 1176px) {
    grid-column: span 6;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 19px;
  }

  @media(max-width: 585px) {
    grid-column: span 12;
    // padding: 16px 12px;
  }
}

.large__button-grey:hover,
.large__button-grey:focus{
  background-color: var(--grey-button-hover);
}

.large__button-svg {
  margin: 0 0 0 93px !important;
}

.primary-button {
  background-color: var(--primary-green);
  color: var(--white);

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--secondary-green);
  color: var(--white);
}

.grey-button {
  display: inline-block;
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.grey-button:hover, 
.grey-button:focus{
  background-color: var(--grey-button-hover);
}

.black-button {
  display: inline-block;
  background-color: var(--primary-text);
  color: var(--white);
  border-radius: 5px;
}


.text-link {
  display: inline-block;
  color: var(--primary-green);
  background-color: inherit;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.text-link:hover,
.text-link:hover  .text-link-svg
.text-link:focus,
.text-link:focus  .text-link-svg {
  color: var(--secondary-green);
}


.black-color-link:hover,
.black-color-link:hover svg {
  color: var(--secondary-text);
}

// .black-color-link {
//   align-items: center;
//   display: flex;
// }
