.hero {
  background-color: var(--primary-grey);
}

.hero-swiper {
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  padding: 88px 70% 122px 0;
  background-image: var(--desktop-image-banner-top);
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: right bottom;

  @media(max-width: 1176px) {
    background-size: 51%;
    padding: 50px 53% 76px 0;
  }

  @media(max-width: 585px) {
    padding: 40px 12% 76px 0;
    background-size: 58%;
    background-position: 110% 100%;
  }

}


.slide-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;

  @media(max-width: 585px) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

.slide-description {
  margin-bottom: 89px;

  @media(max-width: 1176px) {
    margin-bottom: 56px;
  }

  @media(max-width: 585px) {
    padding-right: 43px;
    margin-bottom: 48px;
  }
}

.slide-btn {
  padding: 16px 32px;

  @media(max-width: 1176px) {
    padding: 14px 32px;
  }

  @media(max-width: 585px) {
    padding: 12px 28px;
    font-size: 14px;
    line-height: 19px;
  }
}


.swiper-pagination {
  position: absolute;
  text-align: start;
  left: 17px !important;
  bottom: 20px !important;
  // top: - 10px;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid var(--secondary-text);
  background-color: inherit;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--primary-text);
}
