.services-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 48px;

  @media(max-width: 1176px) {
    column-gap: 16px;
    row-gap: 24px;
  }
}
.services-btn {
  padding: 14px 32px;
  margin-top: auto;
}
.services-card {
  grid-column: span 4;
  position: relative;
  height: 446px;
  max-width: 392px;
  padding: 40px 40px 0 40px;
  background-color: var(--primary-grey);
  border-radius: 10px;
  transition: all 0.2s ease-out 0.2s;
  cursor: pointer;
  overflow: hidden;

  @media(max-width: 1176px) {
    display: none;
  }
}
.card-header:first-child {
  border-radius: 10px;
}
.popular-services {
  padding-top: 68px;

  @media(max-width: 1176px) {
    padding-top: 56px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    display: none;

    @media(max-width: 1176px) {
      display: block;
    }

    @media(max-width: 585px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__title {
    margin-bottom: 0;

  }
}


.services-card-btn {
  position: absolute;
  bottom: 30px;
  left: 10%;
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.3s ease-out 0.3s;
  padding: 18px 104px;
}
.services-card-img {
  position: absolute;
  bottom: 0;
  width: 82%;
  left: 10%;
  transition: all 0.4s ease-out 0.3s;
}

.services-card:hover .services-card-img  {
  transform: scale(1.24);
  left: 10%;
  bottom: -24px;
}
.services-card:hover .services-card-btn {
  opacity: 1;
}


.card-body {
  padding: 0 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-title {
  @media(max-width: 1176px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.card-text {
  color: var(--secondary-text);
  margin-bottom: 28px;
}


.service__card-mobile {
  display: none;
  max-width: 393px;
  
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding: 12px 12px 0 12px;
  height: 173px;
  background-color: var(--primary-grey);

  @media(max-width: 1176px) {
    display: flex;
    grid-column: span 6;
  }
  @media(max-width: 585px) {
    grid-column: span 12;
  }
  
  &-left {
    padding-bottom: 20px;
    padding-top: 9px;
    width: 183px;
    display: flex;
    flex-direction: column;
  }

  &-right {
    position: relative;
    width: 200px;
  }

  &-btn {
    padding: 8px 22px;
    border-radius: 5px;
    margin-top: auto;
    max-width: 122px;
  }
}

.service__card-mobile-img {

  position: absolute;
  object-fit: contain;
  width: 99%;
  left: 0;
  bottom: 0;
}
.hide-385 {
  @media(max-width: 585px) {
    display: none;
  }
}
