.search-form {
  position: relative;
  & .close-btn {
    top: 20%;
    height: 14px;
    
  }
  & .search-btn  {
    
    align-items: center;
    justify-items: center;
    background-color: transparent;
    position: absolute;
    left: 20px;
    top: 20%;
    z-index: 30;
    
  }
  & .search-btn svg{
    width: 24px;
    height: 24px;
    @media (max-width: 585px) {
      width: 18px;
      height: 18px;
    }
  }
  &-input {
    background: inherit;
    border: none;
    width: 0%;
    outline: none;
    font-family: gilroy;
    font-size: 14px;
    color: var(--primary-grey);
    width: 100%;
    padding: 0.6em 50px 0.6em 64px;
    background-color: var(--white);
    border-radius: 5px;
    height: auto;
    transition: var(--animation-transition);
    &:focus,
    &:hover {
      outline: 1px solid var(--greyCC);
    }
    @media (max-width: 1176px) {
      // height: 30px;
    }
    @media (max-width: 585px) {
      padding: 0.6em 50px 0.6em 54px;
    }
  }
  & .close-btn {
    position: absolute;
    background-color: transparent;
    top: 12px;
    right: 20px;
    height: 14px;
    display: flex;
    @media (max-width: 1176px) {
      top: 12px;
    }
  }
}
.search__result {
  margin: 20px 0;
}
.result__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  &-item {
    max-height: 88px;
    @media (max-width: 1176px) {
      max-height: 142px;
    }
    & a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
