@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/swiper/swiper-bundle.min";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
// @import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// @import '../../node_modules/nouislider/dist/nouislider.css';
// @import 'nouislider/dist/nouislider.css';

@import "fonts";
@import "nouislider.min.scss";
@import "header";
@import "footer";
@import "window-account";
@import "hero";
@import "popular-services";
@import "ideas";
@import "accordion";
@import "services/services.scss";
@import "services/brokers-hero.scss";
@import "services/trust-management.scss";
@import "services/universal-account.scss";
@import "services/metals-market.scss";
@import "services/depository-activities.scss";
@import "services/investor-status.scss";
@import "services/individual-account.scss";
@import "rates/rates.scss";
@import "services/transactions-repo.scss";
@import "services/currency-market.scss";
@import "analytics/market-news.scss";
@import "company/about.scss";
@import "company/disclosure-information.scss";
@import "company/electronic__document.scss";
@import "company/foreign-taxpayers.scss";
@import "company/forum.scss";



:root {
  --primary-green: #44953D;
  --secondary-green: #2D7A26;
  --primary-grey: #F4F6F8;
  --grey-button: #E4EAEE;
  --white: #ffffff;
  --primary-text: #1D252C;
  --secondary-text: #6D7889;
  --primary-blue: #428BF9;
  --black: #091625;
}

body {
  font-family: Segoe UI;
  font-size: 16px;
  line-height: 22px;
  background-color: #ffffff;
  color: var(--primary-text)
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @media(max-width: 1176px) {
    max-width: 834px;
    padding: 0 16px;
  }

  @media(max-width: 585px) {
    max-width: 375px;
    padding: 0 12px;
  }
}

a {
  text-decoration: none;
  color: #1D252C;
  outline: none;
  cursor: pointer;
}

a:hover {
  color: #1D252C;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Gilroy;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;

  @media(max-width: 585px) {
    font-size: 20px;
    line-height: 30px;
  }
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;

  @media(max-width: 585px) {
    font-size: 24px;
    line-height: 34px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;

  @media(max-width: 585px) {
    font-size: 20px;
    line-height: 24px;
  }

}

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  @media(max-width: 585px) {
    font-size: 16px;
    line-height: 30px;
  }
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

button {
  outline: 0;
  padding: 0;
  border-radius: 5px;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0.1s;
}

.mt-79 {
  margin-top: 79px;
  @media(max-width: 585px)  {
    margin-top: 48px;
  }
}

.padding-large {
  padding-top: 40px !important;
  padding-bottom: 28px !important;
}

.text-link {
  color: var(--primary-green);
  transition: all 0.2s ease-in-out 0.2s;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.svg-arrow-right-dims {
  margin-left: 20px;

  @media(max-width: 585px) {
    margin-left: 12px;
  }

}
.svg-arrow-left-dims {
  color: var(--secondary-text);
  margin: 0;
  margin-right: 20px;
  @media(max-width: 585px) {
    margin-right: 12px;
    width: 4px;
    height: 8px;
  }
}

.large__button-grey {
  padding: 28px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large__button-svg {
  margin: 0 0 0 93px !important;
}

.primary-button {
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: 5px;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.hide-on-385 {
  @media(max-width: 585px)  {
    display: none;
  }
}
.primary-button:hover {
  background-color: var(--secondary-green);
  color: #ffffff;
}

.grey-button {
  display: inline-block;
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.pagination {
  --bs-pagination-bg: inherit;
  --bs-pagination-border-width: none;
  display: flex;
  align-items: center;
  margin-bottom: 47px;
  @media(max-width: 585px) {
    margin-bottom: 24px;
  }
}

.page-link {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--secondary-text);
  transition: all 0.1s ease-in-out 0.1s;
}

.page-link:focus,
.page-link:hover {
  color: var(--primary-text);
  background-color: inherit;
  outline: none;
  box-shadow: none;
}

.page-item {
  outline: none;
  border: none;
}

.page-item:hover .page-link,
.page-item:focus .page-link {
  color: var(--primary-text);
  background-color: inherit;
  outline: none;
  box-shadow: none;
}

.bi-chevron-right {
  color: var(--secondary-text);
  margin-right: 12px;
  margin-left: 12px;
}

//======левуый аппостроф
.letter-lowercase {
  position: absolute;
  font-size: 9px;
  left: -10px;
  top: -2px;
  @media(max-width: 585px) {
    font-size: 7px;
  }
}

//========правый аппостроф
.right-apostrophe {
  position: relative;
  font-size: 8px;
  top: -5px;
  left: 1px;

}

.text-indent {
  text-indent: 12px;
}

.letter-lowercase-end {
  position: relative;
  font-size: 7px;
  right: 0;
  top: -5px;
  @media(max-width: 585px) {
    font-size: 7px;
  }
}

//======Синий блок информации
.important__block {
  display: flex;
  align-items: center;
  background-color: #E8F1FE;
  border-radius: 5px;
  border-left: 5px solid var(--primary-blue);
  padding: 26px 166px 26px 35px;
  // margin: 68px 0;
  @media(max-width: 585px) {
    padding: 16px 46px 16px 8px;
  }
  &-description {
    font-size: 14px;
    line-height: 19px;
    @media(max-width: 585px) {
      font-size: 12px;
    line-height: 16px;
    }
  }
}

//========Ссылка на файл
.get__file-link {
  display: flex;
  max-width: 750px;
  align-items: center;
  transition: all 0.1s ease-in-out 0.1s;

}

// .get__file-link:not(:last-child) {
//   margin-bottom: 68px;
// }
.get__file-link:hover .svg-pdf-dims,
.get__file-link:focus .svg-pdf-dims {
  color: #3eb30f;
}

.get__file-link:hover .brief-info,
.get__file-link:focus .brief-info {
  color: #3eb30f;
}

.file__link-text {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.brief-info {
  margin-bottom: 2px;
}

.file-size {
  color: var(--secondary-text);
}

//========
.news__company {
  // padding-bottom: 44px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  margin-bottom: 20px;

  &-markets {
    margin-bottom: 40px;
  }

  &-card {
    grid-column: span 3;
    transition: all 0.2s ease-in-out 0.2s;
    padding: 10px;
  }

  &-card:hover,
  &-card:focus {
    background-color: var(--primary-grey);
    border-radius: 10px;
  }

  &-container {

    margin-bottom: 40px;
  }

  &-date {
    font-size: 14px;
    line-height: 19px;

    color: var(--secondary-text);
  }

  &-text {
    margin-top: 16px;
  }
}

.mobile__app {
  margin-bottom: 88px;
  background-color: #2C353D;

  @media(max-width: 1176px) {
    margin-bottom: 0;
  }

  &-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    border-radius: 10px;

    @media(max-width: 585px) {
      grid-template-rows: 1fr 1fr;
    }

    &-left {
      grid-column: 1/ span 6;
      padding: 56px 18% 56px 0;

      @media(max-width: 1176px) {
        padding: 46px 2% 46px 0;
      }

      @media(max-width: 585px) {
        grid-column: 1/ span 12;
        padding: 40px 0 20px 0;
      }
    }

    &-right {
      grid-column: 7/ span 6;
      position: relative;

      @media(max-width: 585px) {
        grid-column: 1/ span 12;
      }
    }
  }

  &-title {
    color: var(--primary-grey);
    margin-bottom: 24px;

    @media(max-width: 585px) {
      margin-bottom: 16px;
    }
  }

  &-img {
    position: absolute;
    bottom: 0;
  }

  &-description {
    color: var(--primary-grey);
    margin-bottom: 48px;

    @media(max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &-buttons {
    display: flex;
  }
}

.google-button {
  margin-right: 24px;

  @media(max-width: 585px) {
    margin-right: 16px;
  }
}

// .svg-app-store rect {
//   @media(max-width: 585px) {
//     width: 168px;
//   }
// }

.svg-google-play rect,
.svg-app-store rect {
  fill: #ffffff;
  transition: all 0.2s ease 0.1s;
}

.svg-google-play path,
.svg-app-store path {
  fill: var(--primary-text);
  transition: all 0.2s ease 0.1s;
}

.svg-google-play:hover rect,
.svg-app-store:hover rect {
  fill: var(--secondary-text);
}

.svg-google-play:hover path,
.svg-app-store:hover path {
  fill: #ffffff;
}

.answer__questions {
  padding-top: 88px;
  padding-bottom: 112px;

  @media(max-width: 1176px) {
    display: none;
  }

  &-title {}

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    row-gap: 28px;
  }

  &-btn {
    display: flex;
    height: 128px;

    padding: 0 28px 0 24px;
    justify-content: space-between;
    align-items: center;
    grid-column: span 4;
    margin: 0;
  }

  &-arrow-svg {
    // display: block;
    margin-left: 53px;
  }
}

.depositiry__transactions {
  @media(max-width: 1176px) {
    display: none;
  }
}