.about__hero {

  &-container {
    background-image:  var(--desktop-image-banner-top);
    padding: 0 56% 181px 0;
    @media(max-width: 1176px) {
      padding: 0 56% 154px 0;
    }
    @media(max-width: 585px)  {
      padding: 0 2% 228px 0;
      background-size: 67%;
    }
  }

  &-title {
    margin-bottom: var(--mb-24);
  }
}

.about__info {
  padding-top: 68px;
  padding-bottom: 68px;
  @media(max-width: 585px)  {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &-card {
    @media(max-width: 585px) {
      row-gap: 0;
      grid-template-rows: 1fr 0.6fr;
    }
    &-left {
      padding: 34px 10px 0 40px;
      @media(max-width: 585px) {
        grid-row: 2/ span 1;
        grid-column: 3/ span 9;
        padding: 0;
      }
    }

    &-right {
      padding: 40px 46px 40px 0;
      @media(max-width: 585px) {
        grid-row: 1/ span 1;
        grid-column: 1/ span 12;
        padding: 24px 12px 0 12px;
      }
    }
  }
}

.stocks__container {
  row-gap: 68px ;
  @media(max-width: 1176px) {
    row-gap: 56px ;
  }
  @media(max-width: 585px) {
    row-gap: 24px ;
  }
  &-title {
    grid-column: 1/ span 8;
    margin: 0;
    @media(max-width: 1176px) {
      grid-column: 1/ span 12;
    }
  }

  &-description {
    grid-column: 1/ span 8;
    grid-row: 3/ span 1;
    margin: 0;
    @media(max-width: 1176px) {
      grid-column: 1/ span 12;
    }
    @media(max-width: 585px)  {
      grid-row: 4/ span 1;
    }
  }
}

.moex {
  grid-column: 1/ span 6;
  grid-row: 2/ span 1;
  @media(max-width: 585px)  {
    grid-column: 1/ span 12;
  }
}

.spb-stock {
  grid-column: 7/ span 6;
  grid-row: 2/ span 1;
  @media(max-width: 585px)  {
    grid-column: 1/ span 12;
    grid-row: 3/ span 1;
  }
}

.stocks-card {
  &-title {
   padding-right: 7%;
  }

  &-img {
    display: block;
    align-items: center;
    object-fit: contain;
  }
}

.stocks-card-header {
  height: 143px;
  display: flex;
  margin-bottom: var(--mb-40);
  flex-direction: column;
  justify-content: flex-end;
}

.about__license {
  &-title {
    margin-bottom: var(--mb-40);
  }

  &-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
  }

  &-card {
    width: 100%;
    max-width: 604px;
    padding: 40px 74px 40px 46px;
    background-color: var(--primary-grey);
    border-radius: 10px;
    @media(max-width: 1176px) {
      max-width: 100%;
      padding: 24px;
    }
    @media(max-width: 585px) {
      padding: 24px 16px;
    }
  }

}

.why__us {
  &-answer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 333px;
    max-width: 604px;
    column-gap: 32px;
    row-gap: 24px;
    @media(max-width: 1176px) {
      max-height: 100%;
      flex-wrap: nowrap;
      max-width: 100%;
    }
  }
}

.about__director {
  background-color: var(--primary-grey);
  &-card {
    @media(max-width: 585px) {
      grid-template-rows: 1fr 0.6fr;
      row-gap: 0;
    }
    &-left {
      padding: 0 10px 0 40px;
      @media(max-width: 1176px) {
        grid-column: 1/ span 5;
        padding: 0;
      }
      @media(max-width: 585px) {
        grid-column: 3/ span 9;
        grid-row: 2/span 1;
      }
    }

    &-right {
      padding: 68px 0;
      @media(max-width: 1176px) {
        padding: 24px 22px 24px 0;
        grid-column: 6/ span 7;
      }
      @media(max-width: 585px) {
        padding: 24px 12px 0 12px;
        grid-column: 1/ span 12;
        grid-row: 1/span 1;
      }
    }
  }

  &-post {
    font-family: gilroy;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: var(--mb-24);
  }

  &-bio {
    margin-bottom: var(--mb-40);
  }

  &-btn {
    padding: 18px 26px;
    @media(max-width: 1176px) {
      padding: 18px 51px;
    }
    @media(max-width: 585px) {
      padding: 12px 14px;
    }
  }
}
.news__company-wrapper {
  margin-bottom: var(--mb-40);
}
.investor__info {
  padding-bottom: 112px;
  @media(max-width: 1176px) {
    padding-bottom: 0;
  }
  &-list {
    margin-bottom: var(--mb-40);
  }
}

.investor__info-file:not(:last-child) {
  margin-bottom: var(--mb-40);
}

