.about__hero {

  &-container {
    padding: 56px 56% 181px 0;
    @media(max-width: 1176px) {
      padding: 48px 10% 154px 0;
    }
    @media(max-width: 585px)  {
      padding: 24px 2% 228px 0;
      background-size: 67%;
    }
  }

} 

.about__info {
  padding-top: 68px;
  padding-bottom: 68px;
  @media(max-width: 585px)  {
    padding-top: 48px;
    padding-bottom: 48px;
  }

}

.stocks__container {
  row-gap: 68px ;
  @media(max-width: 1176px) {
    row-gap: 56px ;
  }
  @media(max-width: 585px) {
    row-gap: 24px ;
  }
  &-title {
    grid-column: 1/ span 8;
    margin: 0;
    @media(max-width: 1176px) {
      grid-column: 1/ span 12;
    }
  }

  &-description {
    grid-column: 1/ span 8;
    grid-row: 3/ span 1;
    margin: 0;
    @media(max-width: 1176px) {
      grid-column: 1/ span 12;
    }
    @media(max-width: 585px)  {
      grid-row: 4/ span 1;
    }
  }
}

.moex {
  grid-column: 1/ span 6;
  grid-row: 2/ span 1;
  @media(max-width: 585px)  {
    grid-column: 1/ span 12;
  }
}

.spb-stock {
  grid-column: 7/ span 6;
  grid-row: 2/ span 1;
  @media(max-width: 585px)  {
    grid-column: 1/ span 12;
    grid-row: 3/ span 1;
  }
}

.stocks-card {
  &-title {
   padding-right: 7%;
  }

  &-img {
    display: block;
    align-items: center;
    object-fit: contain;
  }
  svg {
    width: 100%;
    max-width: 498px;
  }
}

.stocks-card-header {
  height: 143px;
  display: flex;
  margin-bottom: var(--mb-40);
  flex-direction: column;
  justify-content: flex-end;
}

.about__license {
  &-title {
    margin-bottom: var(--mb-40);
  }
  &-container {
    grid-template-rows: 1fr 1fr;
  }
  &-card {
    grid-column: span 6;
    grid-template-rows: 1fr;
    padding: 40px 74px 40px 46px;
   
    @media(max-width: 1176px) {
      padding: 24px;
    } 
    @media(max-width: 585px) {
      padding: 24px 16px;
      grid-column: span 12;
    }
    .small__banner-left-text {
      padding: 0;
      grid-column: span 12;
    }
  }

}

.why__us {
  &-answer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 333px;
    max-width: 604px;
    column-gap: 32px;
    row-gap: 24px;
    @media(max-width: 1176px) {
      max-height: 100%;
      flex-wrap: nowrap;
      max-width: 100%;
    }
  }
}

.news__company-wrapper {
  margin-bottom: var(--mb-40);
}
.investor__info {
  padding-bottom: 112px;
  @media(max-width: 1176px) {
    padding-bottom: 0;
  }
  &-list {
    margin-bottom: var(--mb-40);
  }
}

.investor__info-file:not(:last-child) {
  margin-bottom: var(--mb-40);
}
.about__director {
  & .small__banner {
    @media (max-width: 585px) {
      grid-template-rows: 1fr 0.6fr;
    }
  }
}


