.answer__question-section {
  padding-bottom: 112px;
  @media(max-width: 1176px) {
    padding: 0;
  }
}
.answer__question-title {
  margin-bottom: var(--mb-24);
}
.answer__question-description {
  margin-bottom: var(--mb-24);
}
.svg-arrow-accordion-dims {
  transition: var(--animation-transition);
  transform: rotate(90deg);
  color: var(--secondary-text);
  margin-right: 40px;
  @media(max-width: 585px) {
    margin-right: 16px;
    width: 6px;
    height: 12px;
  }
}
.accordion-button:not(.collapsed) .svg-arrow-accordion-dims {
  transform: rotate(270deg)
}
.answer__accordion-body {
  padding: 0 0 28px 93px;
  @media(max-width: 1176px) {
    padding: 0 0 24px 64px;
  }
  @media(max-width: 585px) {
    padding: 0 0 16px 22px;
  }
}
.answer__accordion-list  {
  display: flex;
  flex-direction: column;
}
.answer__list {
  
  &-item {
    position: relative;
  }

  &-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &-item::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primary-green);
    top: 10px;
    left: -20px;
  }
}
.no-bottom-border {
  border-bottom: none;
}
