.disclosure__information {
  
  &-header {
    display: flex;
    padding-bottom: 28px;
    justify-content: space-between;
  }

  &-block {
    padding: 20px 0;
  }

  &-block:nth-child(even) {
    border-top: 1px solid var(--grey-button);
    border-bottom: 1px solid var(--grey-button);
  }

  &-logo-first {
    width: 53px;
    height: 62px;
  }

  &-logo-second {
    width: 170px;
    height: 53px;
  }

  &-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-documents {
    padding-bottom: 112px;
    @media(max-width: 1176px) {
      padding: 0;
    }
    &-wrapper {
      grid-template-rows: repeat(7, 1fr);
      @media(max-width: 1176px)  {

        grid-template-rows: repeat(10, 1fr);
      }
      @media(max-width: 585px)  {
        grid-template-rows: repeat(20, 1fr);
      }
    }
    &-title {
      margin-bottom: var(--mb-40);
    }
  }

  &-btn {
    display: flex;
    grid-column: span 4;
    @media(max-width: 1176px) {
      grid-column: span 6;
    }
    @media(max-width: 585px)  {
      grid-column: span 12;
    }
  }
}

.ytable {
  width: 100%;
}

.disclosure-svg-arrow {
  width: 10px;
  height: 20px;
  color: var(--secondary-text);
}
