.disclosure__information {
  
  &-header {
    display: flex;
    padding-bottom: 28px;
    justify-content: space-between;
  }

  &-block {
    padding: 20px 0;
  }

  &-block:nth-child(even) {
    border-top: 1px solid var(--grey-button);
    border-bottom: 1px solid var(--grey-button);
  }

  &-logo-first {
    width: 53px;
    height: 62px;
  }

  &-logo-second {
    width: 170px;
    height: 53px;
  }

  &-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-documents {
    padding-bottom: 112px;
    @media(max-width: 1176px) {
      padding: 0;
    }

    &-title {
      margin-bottom: var(--mb-40);
    }
  }

  &-btn {
    display: flex !important;
    height: 128px;
    justify-content: space-between;
    grid-column: span 4;
  }
}

.ytable {
  width: 100%;
}

.disclosure-svg-arrow {
  width: 10px;
  height: 20px;
  color: var(--secondary-text);
}
