.electronic__document {
  &-hero {

    padding-bottom: 112px;

    @media(max-width: 1176px) {
      padding-bottom: 0;
    }
  }
}

.electronic__wrapper-files {
  display: flex;
  flex-direction: column;
  grid-column: 1/ span 8;

  @media(max-width: 1176px) {
    grid-column: 1/ span 12;
  }

  &-title {
    margin-bottom: var(--mb-40);
  }

}

.electronic-svg-arrow {
  width: 10px;
  height: 20px;
  columns: var(--primary-green);
}

.electronic__files-list li:not(:last-child) {
  margin-bottom: var(--mb-40);
}

.document-about-investor {
  --bs-accordion-bg: inherit;
  margin-top: 40px;

  .accordion-button:not(.collapsed) {
    color: var(--primary-green);
   
  }

  .accordion-button:not(.collapsed) .svg-arrow-accordion-dims {
    color: var(--primary-green);
  }
  .accordion-collapse {
    padding-bottom: 2px;
  }
  .accordion-button {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    svg {
      margin: 0;
      margin-left: 12px;
      color: var(--primary-green);
    }
  }

  .accordion-item-title {
    font-size: 16px;
    font-weight: 400;
  }
}

.public-file-link {
  flex-direction: row;
  flex-wrap: wrap;
}
.risk__information {
  margin-bottom: var(--mb-40);
  
}
.electronic__document-wrapper .accordion .electronic__files-list {
  padding: 40px 0;
  margin-bottom: 28px;
}
