.foreign__taxpayers {

  &-hero {
    padding-top: 30px;
    padding-bottom: 86px;
  }

  &-title {
    margin-bottom: 68px;
  }


  &-conditions {
    display: flex;
    flex-direction: column;
    grid-column: 1/ span 8;
     
  }
  &-conditions-list {
    margin: 24px 0;
   }
  &-conditions-footnote {
    color: var(--secondary-text);
    margin-bottom: 68px;
  }
  &-request {
    margin-bottom: 68px;
  }
  &-appeal {
    margin-bottom: 68px;
  }
}

.foreign__taxpayers-wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;

}
.countries__list-item {
  margin-bottom: 26px;
}
.countries__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-height: 1020px;
  flex-wrap: wrap;
  
}